* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(imgs/crowdsurfing.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    background-color: gray;
}

body {
    font-family: 'black_groundregular';
}

.hidden {
    display: none
}

.title {
    font-size: 46px;
    color: white;
}

label {
    color: white;
}

button {
    background-color: black;
    border: white 1px solid;
    border-radius: 5px;
    color: white;
    font-family: 'black_groundregular';
    width: 80px;
    margin-top: 10px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    align-items: center;
}

input{
    text-align: center;
    font-size: 16px;
    font-family: 'black_groundregular';
    border-radius: 5px;
    border: 1px solid white;
    background-color: whitesmoke;
}

.bottom-arrow:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 25px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.bottom-arrow:hover {
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: black;
}



li {
    font-size: 20px;
    list-style: none;
    padding: 20px;
}

li:hover {
    cursor: pointer;
}

.profiles{
    width: 100%;
    border-top: solid 1px white;
}

ul {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

label,
    button,
        input {
    font-size: 20px;
    padding: 10px;
}

.artist-name{
    font-size: 42px;
    color: white;
    background-color: black;
}

.youtube-results {
    font-size: 36px;
    color: white;
}

.top-container,
    .bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.bit-results-container,
    .yt-results-container{
    width: 90%;
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bit-results-container{
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 500px;
    border: solid white;
}

.yt-results-container{
    margin-bottom: 10px;
    margin-top: 50px; 
    display: flex;  
    flex-direction: column;
}

.yt-results-videos {
    display: flex;
    flex-direction: column;
}

iframe {
    border: 1px solid white;
    margin: 5px;
    width: 200px;
    height: 150px;
}


@media only screen and (min-width: 768px){
    .yt-results-videos{
        flex-direction: row;
    }

    .bit-results-container {
        height: 900px
    }

    .yt-results-container{
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1279px){
    .bit-results-container{
        height: 600px;
        width: 400px;
        
    }

}


