* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    height: 100vh;
    /*background-image: url();*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    background-color: gray;
}

.hidden {
    display: none
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100px;
}

input{
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}

li {
    background-color: white;
}

.top-container,
    .bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wiki-results-container,
    .bit-results-container,
        .yt-results-container{
    width: 90%;
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bit-results-container{
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 97vh;
}
.yt-results-container{
    margin-bottom: 10px;
}

.wiki-results {
    background-color: white;
    width: 90%;
}

@media only screen and (min-width: 768px){
    .main-container{
        height: 100vh;
        justify-content: space-evenly;
    }

    .top-container{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .wiki-results-container,
        .bit-results-container{
        height: 60vh;
        width: 40%;
    }

    .yt-results-container{
        height: 35vh;
        width: 95%;
    }

    .wiki-results-container,
        .bit-results-container,
            .yt-results-container{
        
    }

}
